---
layout: default
title: Archive
description:
permalink: /archive/
---
<section class="archives" itemscope itemtype="http://schema.org/Blog">
  <a class="nav nav--black" href="{{ site.baseurl }}/">
    <i class="fa fa-lg fa-arrow-left"></i>
    <span>Назад к статьям</span>
  </a>
  <header class="archives__header">
    <span>Архив</span>
  </header>
  <div class="section-padding archives__container">
    {% for post in site.posts %}
      <article class="card" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <a class="card__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
          <div class="card__img">
            {% if post.image-sm %}
              <figure class="absolute-bg wow" style="background-image: url('{{ post.image-sm }}');"></figure>
            {% else %}
              <figure class="absolute-bg wow" style="background-image: url('{{ post.image }}');"></figure>
            {% endif %}
          </div>
          <div class="card__container">
            <h2 class="card__header" itemprop="name">{{ post.title }}</h2>
            <p class="card__count" itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}">
              {% assign m = post.date | date: "%-m" %}
              {{ post.date | date: "%-d" }}
              {% case m %}
                {% when '1' %}Янв
                {% when '2' %}Фев
                {% when '3' %}Мар
                {% when '4' %}Апр
                {% when '5' %}Май
                {% when '6' %}Июн
                {% when '7' %}Июл
                {% when '8' %}Авг
                {% when '9' %}Сен
                {% when '10' %}Окт
                {% when '11' %}Ноя
                {% when '12' %}Дек
              {% endcase %}
              {{ post.date | date: "%Y" }}
            </p>
            <span class="card__more">Читать статью</span>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>
</section>
